<div class="d-flex flex-row align-items-center justify-content-center h-100">
  <div class="p-4 login" style="border:1px solid gray;">
    <h2>Login</h2>
      <div class="form-floating mb-3">
        <input type="text" placeholder="Username" id="name" class="form-control" [(ngModel)]="name" required>
        <label class="form-label" for="name">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" placeholder="Password" id="pass" class="form-control" [(ngModel)]="password" required>
        <label class="form-label" for="pass">Password</label>
      </div>
      <span *ngIf="message">{{message}}</span><br>
      <button type="submit" class="btn btn-success w-50" (click)="login()">Login</button>

    <p class="mt-4">If you don't have an account please <a href="/register">register</a></p>
 </div>

</div>


