button{
  color:white;
}
.mat-drawer-container{
  height:100%;
  background-color: #f2f2f2;
}
.navbar{
  z-index: 3;
}
.progress{
  height:8px !important;
}
.mat-drawer{
  width:20%;
}
p{
  clear: both;
}
ul li:hover{
  background-color: #343a40;
}
a:hover{
  color:white !important;
}
a{
  color: #333030  !important;
  font-weight: bold;
  cursor: pointer;
}
.active{
  border: 1px solid lightgray;
}
p::first-letter {
  text-transform:capitalize;
}
img{
  height:20px;
  width:20px;
}
.d-flex{
  justify-content: space-between;
}
.mat-icon{
  vertical-align: bottom;
  margin-right: 10px;
}

